@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter/Inter_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter/Inter_SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../assets/fonts/ProDisplay/Sf_Pro_Display_Bold.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
